########## 主线程必选项 ##########
requests~=2.28.1
colorlog~=6.6.0



########## plugin.name='QQbot' plugin.path='//plugins//gocqOnQQ//main' ##########
Flask==3.0.0
websockets==12.0


########## plugin.name='GPTBot' plugin.path='//plugins//GPT//main' ##########
openai~=0.27.4