########## 主线程必选项 ##########
requests~=2.31.0
colorlog~=6.6.0
pydantic~=2.5.2



########## plugin.name='QQbot' plugin.path='//plugins//gocqOnQQ//main' ##########
Flask==3.0.0
websockets==12.0


########## plugin.name='OpenAiInteract' plugin.path='//plugins//OpenAi//main' ##########
openai==0.28


########## plugin.name='TextMessageEventPlugin' plugin.path='//plugins//goEventTextMessage//main' ##########
func_timeout~=4.3.5


########## plugin.name='WaterMarkCommand' plugin.path='//plugins//cmdWaterMark//main' ##########
Pillow~=10.1.0


########## plugin.name='WxChatTextMessageEventPlugin' plugin.path='//plugins//wcEventTextMessage//main' ##########
func_timeout~=4.3.5


########## plugin.name='WeChatbot' plugin.path='//plugins//wcferry//main' ##########
wcferry~=39.0.10.0
sniffio==1.3.0
